@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Azeret Mono", monospace;
    /* padding: 0;
    margin: 0; */
}

/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 166px 35px 150px;

}

.nav-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 38px;
    font-weight: 800;
    margin-top: 50px;
}

nav ul li{
    list-style: none;
}

.nav-btn{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    padding: 17px 24px;
    border-radius: 8px;
    margin-top: 38px;
}


/* Banner Styles */
.banner-container{
    max-width: 1440px;
    height: 652px;
    /* border: 2px solid red; */
    margin: 0px auto;
    margin-top: 35px;
    background-image: url(./assets/Hero-bg.png);
}

.banner-content{
    width: 998px;
    height: 582px;
    /* border: 2px solid red; */
    margin: 26px 44px 221px 221px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-text > h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;
}

.banner-text > p{
    width: 852px;
    height: 52px;
    margin: 0 auto;
    /* border: 2px solid red; */
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 32px;
}

.contact-btn{
    background-color: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 24px;
    border-radius: 8px;
}


/* Why Web Development styles */
.web-dev-container{
    width: 1140px;
    height: 1395px;
    /* border: 2px solid red; */
    margin: 0 auto;
    margin-top: 74px;
    margin-bottom: 88px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}

.web-dev-content{
    width: 946px;
    height: 1235px;
    /* border: 2px solid red; */
    margin: 80px 97px;
    /* padding: 48px 48px; */
}

.web-dev-title-text{
    width: 852px;
    height: 115px;
    /* border: 2px solid red; */
    margin: 0 auto;
    text-align: center;
    margin-bottom: 48px;
}

.web-dev-title-text > h2{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
}

.web-dev-title-text >p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}

.reason-one-container{
    width: 946px;
    height: 336px;
    /* border: 2px solid red;  */
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reason-two-container{
    width: 946px;
    height: 336px;
    /* border: 2px solid red;  */
    margin-bottom: 32px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.reason-three-container{
    width: 946px;
    height: 336px;
    /* border: 2px solid red;  */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.learn-more-btn{
    margin-top: 32px;
    width: 150px;
    height: 48px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 600;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    padding: 12px 20px;
}

.reason-text{
    width: 477px;
    height: 220px;
    /* border: 2px solid red; */
}

.reason-text > h3{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
}

.reason-text > p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}